.thumbnail{
  width: 100%;
  cursor:pointer;
}
.video-title{
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.thumbnail-row{
  margin-bottom: 8px ;
  position:relative;
  z-index:1;
}
.channel-tooltip{
  display:flex;
  flex-direction:row;
  align-items:center;
  position:absolute;
  z-index:90;
  background-color:white;
  padding: 10px 14px 10px 10px;
  border-radius: 4px;
  top: 45px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  opacity:0;
  transition: opacity 0.2s;
  pointer-events:none;
}
.pp-div:hover .channel-tooltip{
  opacity:1;
}
.pp-div{
  position:relative;
  width: 37px; 
  height: 37px;
  border-radius: 19px;
}
.tooltip-video-author{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
  margin-left: 6px;
  white-space:nowrap;
}
.channel-pp{
  height:45px;
  border-radius: 30px;
}
.tooltip-video-subs{
  color:rgb(96,96,96);
  font-size:13px;
  white-space:nowrap;
  margin-left:6px;
}
.video-time{
  position:absolute;
  color:white;
  background-color:black;
  font-size:13px;
  font-weight:500;
  padding:3px;
  border-radius: 2px;
  bottom:10px;
  right:4px;
}
.video-title{
  cursor:pointer;
}
.video-author, .video-stats{
  font-size: 13px;
  color: rgb(96,96,96);
}
.video-author{
  margin-bottom: 5px;
  cursor:pointer;
}
.pp{
  width: 36px;
  border-radius: 100px;
  cursor:pointer;
}
.vid-bottom{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap:15px;
}
@media(max-width:750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:751px) and (max-width:999px)
{
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media(min-width:1000px){
  .video-title{
    font-size:16px;
    line-height:24px;
  }
  .video-author, .video-stats{
    font-size:14px;
  }
}
